{% extends 'base.html.twig' %}

{% block title %}
    le titre du souhait | {{ parent() }}
{% endblock %}
{% block body %}
    <h1>{{ souhait.name }}</h1>
    <p>{{ souhait.content }}</p>
    <p>Date de création : {{ souhait.createdAt | date('d/m/Y')}}</p>
    <p>Publication : {{ souhait.isPublished ? "Oui" : "Non" }}</p>

{% endblock %}